{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1>Катушка 13 Fishing Descent Ice Reel 2.7:1 - Left Hand</h1>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="400" height="280" src="https://sketchfab.com/models/11675e7e453149808a1152318dd9fa96/embed?autostart=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div class="short_desc">
    <div class="buy">
            <button type="submit">Купить</button>
        </div>
    <h3 class="heading">Коротко о товаре</h3>
    <p class="short">Descent Ice Reel 13 Fishing - высокотехнологичная катушка для зимней рыбалки американского производства.
        <br>Катушка имеет графитовую раму, благодаря чему обладает минимальным весом и отличной чувствительностью: ощущаются даже самые аккуратные поклевки рыбы.
        <br>Пять шарикоподшипников из нержавеющей стали обеспечивают плавную работу.
        <br>Алюминиевая ручка с удобными кнобами позволяет эффективно вываживать даже трофейные образцы рыб.
        <br>Катушка оснащена системой антиреверса и фрикционом с тонкой настройкой. </p>
    </div>
    <h3 class="heading">Подробное описание</h3>
    <p class="long">Высокотехнологичная катушка для зимней рыбалки американского производства.
        <br> Катушка имеет легкий, но прочный пластиковый корпус.
        <br> Она оснащена тормозной системой с тонкой настройкой фрикицона,
        <br> 4 стальными шариковыми подшипниками, системой антиреверса,
        <br> шпулей из композитного материала и ручкой с кнобами из софт-тач пластика.
        <br> Тщательно выверенная конструкция катушки обеспечивает удобство пользования и высокую эффективность при вываживании рыбы. </p>
    <ul class="long">
        <li>ПЛАСТИКОВЫЙ КОРПУС С НЕСКОЛЬЗЯЩИМ ПОКРЫТИЕМ</li>
        <li>ПЛАСТИКОВАЯ ШПУЛЯ</li>
        <li>АЛЮМИНИВАЯ ЗВЕЗДА ФРИКЦИОНА</li>
    </ul>
    <h3 class="heading">Характеристики товара</h3>
    <table class="specification">
        <tr>
            <td>Вес:</td>
            <td>189</td>
        </tr>
        <tr>
            <td>Передаточное число:</td>
            <td>2.7:1</td>
        </tr>
        <tr>
            <td>Подшипники:</td>
            <td>5</td>
        </tr>
    </table>
{% endblock %}