{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1>Воблер Deps Balisong Minnow 130SP 07 (13см, 25гр)</h1>
    <!--    <a href="../3d.html" target="_blank"><img src="../img/lot_3.jpg" alt="balisong minnow 130sp" width="400"></a>-->
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="400" height="280" src="https://sketchfab.com/models/11fc844197c44cd08e785b129456e12e//embed?autospin=1&autostart=1&camera=0&ui_infos=0&ui_controls=0&ui_stop=0&ui_watermark=0" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div class="short_desc">
    <h3 class="heading">Коротко о товаре</h3>
    <p class="short"> Воблеры Balisong Minnow от Deps - уникальные спиннинговые приманки, созданные руками мастеров страны восходящего солнца.
        <br>Активно используются рыболовами России для поимки трофейной щуки, крупного окуня и судака.
        <br>Серия Balisong представлена двумя типоразмерами 100 и 130 мм и двумя вариантами плавучести - floating и suspending.
        <br>В этой серии воблеров была применена особая система огрузки "Variable Balancer System" с перемещением шариков-балансиров, расположенных в теле приманки.
        <br>Благодаря ее действию, воблер не только приобретает активную твичинговую игру с резкими и даже хаотичными скачками и колебаниями,
        <br>но и испускает шум - "bumpee sound" и вибрацию, которые способны привлечь даже самого пассивного и заторможенного хищника. </p>
    </div>
    <h3 class="heading">Подробное описание</h3>
    <p class="long">Тяжелый воблер компании Deps имеет длину 130 мм. и вес 25 гр.
        <br>Код расцветки: 09. Язычок в передней части дает погружение во время движения.
        <br>Стоит учитывать, что заглубление составляет 1.2-1.5 м.
        <br>Маркировка SP означает, суспендерный. Такой воблер обладает нейтральной плавучестью, т. е. не всплывает на паузе.
        <br>Приманка отгружена шариками разного диаметра.
        <br>Шарики создают шум и приманка работает как погремушка, привлекая хищника.
        <br>Воблер имеет несколько тройников, поэтому не важно под каким углом его атакуют. </p>
    <h3 class="heading">Характеристики товара</h3>
    <p class="specification"> Вес:.................................................. 25
        <br>Длина:............................................. 13
        <br>Заглубление (М):............................ 1,2
        <br>Защита от зацепов:........................ Отсутствует
        <br>Система дальнего заброса:........... есть
        <br>Страна изготовления:.................... Япония
        <br>Тип плавучести:............................. suspending
        <br>Тип:................................................. minnow
        <br>Цвет:............................................... 07
        <br>Шумовые эффекты:...................... имеются </p>
{% endblock %}