{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1>Спиннинг CATANA EX TELESPIN 165UL</h1>
    <div class="sketchfab-embed-wrapper">
        <iframe title="A 3D model" width="400" height="280" src="https://sketchfab.com/models/09bc398c98eb4c6f8c257635d18dcbde/embed?autostart=1&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
    <div class="short_desc">
        <div class="buy">
            <button type="submit">Купить</button>
        </div>
        <h3 class="heading">Коротко о товаре</h3>
        <p class="short"> Спиннинги Shimano CATANA EX TELESPIN пришли на смену серии CATANA DX TELESPIN.
            <br> Серия обновлена в 2018 году! Бланк спиннинга немного изменен и теперь идеально соответствует заявленным тестам.
            <br> Новый дизайн является современным и заметным. Спиннинг обладает умеренно-быстрым строем.
            <br> Это означает, что это удилище с хорошим прогрессивным строем, что идеально подходит для всестороннего использования и различных видов рыбалки.
            <br> Эта телескопическая версия спиннингов Шимано Catana для рыболовов, которые хотят компактную удочку (спиннинг)
            <br> держать в задней части автомобиля или перевозить с собой компактно в любом транспорте. </p>
    </div>
    <div class="long_desc">
    <h3 class="heading">Подробное описание</h3>
    <ul class="long">
        <li>Обновленные и улучшенные бланки с большей чувствительностью и жесткостью.</li>
        <li>Бланки отлично калиброваны по кастинговым весам.</li>
        <li>Современная и заметная косметика.</li>
        <li>Новый катушкодержатель Seaguide с зоной Vibraspot для тактильного контроля поклевки и проводки.</li>
        <li>Большой ассортимент удилищ для всех видов рыбалки.</li>
        <li>Компактная, телескопическая версия для путешествий</li>
    </ul>
    </div>
    <div class="spec">
    <h3 class="heading">Характеристики товара</h3>
    <p class="specification"> Модель:......................................Catana
        <br> Мин. вес приманки (гр):............1
        <br> Макс. вес приманки (гр):...........11
        <br> Кол-во секций, шт.:....................5
        <br> Длина удилища (см):................165
        <br> Вес удилища (гр):......................92
        <br> </p>
    </div>
{% endblock %}