{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="user_delete">
        Уверены, что хотите удалить <strong>{{ object.username }}</strong>?
        <form action="{% url 'admin:user_delete' object.pk %}"
              method="post">
            {% csrf_token %}
            <div class="mt-3">
            <input class="btn btn-danger" type="submit" value="Удалить">
            <a class="btn btn-success" href="{% url 'admin:users' %}">
                Отмена
            </a>
            </div>
        </form>

    </div>
{% endblock %}