{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h4>Категории</h4>
    <div class="inner">
        <nav class="nav nav-masthead justify-content-center mb-5">
            {% for category in links_menu %}
                <a href="{% url 'catalog:category' category.pk %}" class="nav-link">{{ category.name }}</a>
            {% endfor %}
        </nav>
    </div>
    {% for product in products %}
        <div class="centered">
            <div class="card-deck">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">{{ product.name }}</div>
                    <img class="card-img-top p-1" src="/media/{{ product.photo|default:'products_images/default.jpg'}}" alt="">
                    <div class="card-link">
                        <p class="mt-2">Цена: <b>{{ product.price }}</b></p>
                        <a href="{% url 'basket:add' product.pk %}"
                           class="btn btn-success btn-group-sm w-75 mb-1">Купить</a>
                        <a href="{% url 'catalog:item' product.pk %}"
                           class="btn btn-info btn-group-sm w-75 mb-4">Подробнее</a>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-left">{{ product.short_desc|safe }}</p>
                        <p class="text-left">Количество на складе: <b>{{ product.quantity }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}